## Code to find intersections of ICESat-2 and ATM data

**by Allison Chartrand**

**June 2019 ICESat-2 Hackweek**

In [1]:
#IMPORT PACKAGES
import os
import glob
import pandas as pd
import csv
import numpy as np
import math
import matplotlib.pyplot as plt
import pyproj
from scipy.spatial import distance

Code to extract single tracks of IceSat-2 data

In [38]:
ATL06data = pd.read_csv('../data_prod/IceSat2ZachData',parse_dates=[4])

In [3]:
ATL06data['track'].unique()

array(['gt3r', 'gt1l', 'gt1r', 'gt2l', 'gt2r', 'gt3l'], dtype=object)

In [39]:
ATL06data.date.unique()

array(['2019-01-04T12:24:25.000000000', '2019-02-15T10:09:55.000000000',
       '2018-10-29T05:05:08.000000000', '2019-01-16T01:09:49.000000000',
       '2018-11-23T03:49:31.000000000', '2018-12-10T02:50:30.000000000',
       '2018-12-19T12:57:40.000000000', '2019-01-08T01:26:37.000000000',
       '2018-11-20T14:21:44.000000000', '2018-12-26T02:17:13.000000000',
       '2019-02-17T23:37:46.000000000', '2018-11-16T14:30:09.000000000',
       '2018-11-27T03:41:06.000000000', '2018-12-27T12:41:01.000000000',
       '2018-10-21T05:21:45.000000000', '2018-12-23T12:49:22.000000000',
       '2018-10-22T15:45:34.000000000', '2018-12-14T02:42:09.000000000',
       '2018-12-15T13:05:59.000000000', '2019-01-20T01:01:33.000000000',
       '2018-12-18T02:33:52.000000000', '2019-01-13T11:42:01.000000000',
       '2019-01-29T11:08:55.000000000', '2018-11-15T04:06:22.000000000',
       '2018-11-19T03:57:57.000000000', '2018-12-02T13:56:37.000000000',
       '2018-10-17T05:30:05.000000000', '2019-01-17T11:33:37.000000000',
       '2018-10-25T05:13:27.000000000', '2018-10-30T15:28:58.000000000',
       '2019-01-21T11:25:25.000000000', '2019-02-13T23:46:06.000000000',
       '2018-10-26T15:37:16.000000000', '2019-01-28T00:45:05.000000000',
       '2019-01-12T01:18:14.000000000', '2018-12-30T02:08:55.000000000',
       '2019-01-25T11:17:11.000000000', '2018-12-31T12:32:45.000000000',
       '2018-12-22T02:25:33.000000000', '2018-11-28T14:04:55.000000000',
       '2019-02-02T11:00:37.000000000', '2019-02-19T10:01:34.000000000',
       '2018-11-24T14:13:17.000000000', '2018-10-18T15:53:52.000000000',
       '2019-02-09T23:54:28.000000000', '2018-11-11T04:14:44.000000000',
       '2019-02-23T09:53:16.000000000', '2019-01-24T00:53:21.000000000'],
      dtype='datetime64[ns]')

Define nearest neighbor algorithm

In [6]:
def closest_node(node, nodes):
    closest_index = distance.cdist([node], nodes).argmin()
    closest_dist = np.min(distance.cdist([node], nodes,'euclidean'))
    return closest_index, closest_dist

Get target points from ATM csv and put into dataframe

In [131]:
ATMdata = pd.read_csv('~/xtrak/data_prod/ATMprof_20140429.csv')

tpoints = ATMdata[['PS_x','PS_y']].copy()
tpoints = tpoints.values
ATMdata.head()

     ATM_lat    ATM_long           PS_x          PS_y  ATM_elev  dist_along
0  79.202572  341.714609  527314.046845 -1.047782e+06   32.5185    0.000000
1  79.202270  341.714622  527329.117517 -1.047811e+06   33.1235   32.996374
2  79.201968  341.714638  527344.243074 -1.047840e+06   32.7155   65.993317
3  79.201666  341.714654  527359.368654 -1.047870e+06   32.1009   98.990275
4  79.201364  341.714670  527374.494258 -1.047899e+06   30.7951  131.987250

Make an empty dataframe for intersections
Get query points from ATL06 csv and put into dataframe
Loop through unique dates and ground tracks and find the closest point between each ground track and the flowline
Store intersection along-flow distance, z_ATM, z_ATL06 and other helpful data in Intersections dataframe

In [132]:
Intersections = {'dist_along':[],'ATM_elev':[],'idx_ATM':[],'z_ATL06':[],'t_ATL06':[],'idx_ATL06':[],'gt_ATL06':[]}
Intersections = pd.DataFrame(data = Intersections)
i = 0
for day in ATL06data.date.unique():

    for tr in ATL06data.track.unique():
        close_idx = []
        min_dist = []
        AddDatarow = []

        #dfTran is a single radar transect
        dfTran = ATL06data.query('date == @day & track == @tr')
        if dfTran.shape[0] == 0:
            continue
            
        
        qpoints = dfTran[['x','y']].copy()
        qpoints = qpoints.values

        
        for j in range(len(tpoints)):
            close_idxT,min_distT = closest_node(tpoints[j,:], qpoints)
            close_idx = np.append(close_idx,[close_idxT])
            min_dist = np.append(min_dist,[min_distT])
        if min(min_dist) > 1000:
            continue
        
        tpt_idx = np.argmin(min_dist)
        qpt_idx = int(close_idx[tpt_idx])
        dfTran_idx = dfTran.loc[dfTran['date'] == day].index[0]
        qpt_idx = qpt_idx+dfTran_idx
        
        AddDatarow = {'dist_along':[ATMdata.loc[tpt_idx,'dist_along']],
                      'ATM_elev':[ATMdata.loc[tpt_idx,'ATM_elev']],
                      'idx_ATM':[tpt_idx],
                      'z_ATL06':[dfTran.loc[qpt_idx,'h']],
                      't_ATL06':[dfTran.loc[qpt_idx,'date']],
                      'idx_ATL06':[qpt_idx],
                      'gt_ATL06':[dfTran.loc[qpt_idx,'track']]}
        AddDatarow = pd.DataFrame(data = AddDatarow)
        Intersections = Intersections.append(AddDatarow,ignore_index=True)
#         Intersections.reset_index(drop=True)

In [75]:
Intersections.head()

,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06
0,125293.549537,36.6189,3399.0,35.714657,2019-02-15 10:09:55,1578.0,gt1l
1,125388.182985,35.0684,3402.0,34.106010,2019-02-15 10:09:55,4933.0,gt1r
2,96217.510032,88.3644,2580.0,66.844490,2019-01-16 01:09:49,39471.0,gt3r
3,102715.054408,30.4860,2761.0,29.333950,2019-01-16 01:09:49,19993.0,gt1l
4,102652.754159,33.3447,2759.0,38.831944,2019-01-16 01:09:49,23915.0,gt1r

In [16]:
%matplotlib widget

In [100]:

f, ax = plt.subplots()
plt.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],c=Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'], c = Time,s=1)
plt.plot(Intersections['dist_along']/1000,Intersections['ATM_elev'],'.')
# cb = f.colorbar()
plt.colorbar()

# cb.ax.set_yticklabels(df.index.strftime('%b %Y'))

FigureCanvasNbAgg()

In [97]:
plt.close('all')

Save to file

In [133]:

Intersections.to_csv('~/xtrak/data_prod/Intersections_ATM20140429.csv',index=False)

In [109]:
IntersectionsSort = Intersections.sort_values(by=['t_ATL06', 'gt_ATL06'])
IntersectionsSort.reset_index()

,index,dist_along,ATM_elev,idx_ATM,z_ATL06,t_ATL06,idx_ATL06,gt_ATL06
0,160,122622.959615,44.7680,3314.0,43.139470,2018-10-18 15:53:52,617767.0,gt1l
1,161,122685.347575,42.9764,3316.0,42.044100,2018-10-18 15:53:52,621070.0,gt1r
2,162,125829.732109,36.7893,3416.0,36.352860,2018-10-18 15:53:52,624014.0,gt2l
3,163,125892.855741,33.7749,3418.0,32.122726,2018-10-18 15:53:52,626689.0,gt2r
4,51,80616.609191,275.4203,2136.0,262.579130,2018-10-21 05:21:45,205271.0,gt2r
5,50,77393.279691,251.8895,2036.0,247.187770,2018-10-21 05:21:45,205803.0,gt3r
6,102,67676.282654,393.7867,1775.0,358.969240,2018-10-25 05:13:27,398282.0,gt1l
7,103,67709.968188,390.8599,1776.0,389.156950,2018-10-25 05:13:27,400495.0,gt1r
8,104,64585.038715,408.5852,1708.0,2154.631000,2018-10-25 05:13:27,401953.0,gt2l
9,105,64513.127274,411.2010,1706.0,410.796300,2018-10-25 05:13:27,403761.0,gt2r
10,106,61396.077508,516.8297,1620.0,513.321200,2018-10-25 05:13:27,405089.0,gt3l
11,101,61323.411109,515.4422,1618.0,514.201600,2018-10-25 05:13:27,406848.0,gt3r
12,114,89391.976849,105.3412,2388.0,105.807150,2018-10-26 15:37:16,431218.0,gt1l
13,115,89454.388682,105.3614,2390.0,107.070510,2018-10-26 15:37:16,435063.0,gt1r
14,116,92815.666093,99.2005,2474.0,96.007240,2018-10-26 15:37:16,438904.0,gt2l
15,117,92878.894997,101.2804,2476.0,96.657684,2018-10-26 15:37:16,442768.0,gt2r
16,118,96123.638883,82.2604,2577.0,30.098919,2018-10-26 15:37:16,446618.0,gt3l
17,113,96217.510032,88.3644,2580.0,27.778944,2018-10-26 15:37:16,450520.0,gt3r
18,171,121969.226220,45.6641,3293.0,44.822670,2018-11-11 04:14:44,651543.0,gt1l
19,172,121875.941570,46.3157,3290.0,45.282104,2018-11-11 04:14:44,654325.0,gt1r
20,173,118694.376833,38.0408,3211.0,36.449170,2018-11-11 04:14:44,657924.0,gt2l
21,174,118631.685285,41.2187,3209.0,40.542816,2018-11-11 04:14:44,661529.0,gt2r
22,175,115382.584397,27.6940,3112.0,39.291030,2018-11-11 04:14:44,665515.0,gt3l
23,170,115286.478086,41.4782,3109.0,28.140985,2018-11-11 04:14:44,669480.0,gt3r
24,83,105440.026296,28.5088,2823.0,28.558113,2018-11-15 04:06:22,330938.0,gt1l
25,84,105440.026296,28.5088,2823.0,28.000557,2018-11-15 04:06:22,334879.0,gt1r
26,85,102185.183294,66.3126,2746.0,28.870165,2018-11-15 04:06:22,338753.0,gt2l
27,86,102091.407388,59.0476,2743.0,28.528673,2018-11-15 04:06:22,342690.0,gt2r
28,87,98952.136947,47.9881,2644.0,87.195330,2018-11-15 04:06:22,346611.0,gt3l
29,82,98889.318473,50.5963,2642.0,85.001820,2018-11-15 04:06:22,350510.0,gt3r
...,...,...,...,...,...,...,...,...
158,167,121440.668195,47.0928,3276.0,46.470333,2019-02-09 23:54:28,638427.0,gt2l
159,168,121378.501551,45.7420,3274.0,44.875840,2019-02-09 23:54:28,641333.0,gt2r
160,169,118193.004275,41.9904,3195.0,40.892963,2019-02-09 23:54:28,645055.0,gt3l
161,164,118130.345156,41.5506,3193.0,40.337795,2019-02-09 23:54:28,648791.0,gt3r
162,108,108162.584163,27.9932,2906.0,26.104408,2019-02-13 23:46:06,409993.0,gt1l
163,109,108098.772842,29.6840,2904.0,27.964178,2019-02-13 23:46:06,413585.0,gt1r
164,110,104647.805868,28.8785,2822.0,27.761460,2019-02-13 23:46:06,417327.0,gt2l
165,111,104647.805868,28.8785,2822.0,27.593294,2019-02-13 23:46:06,421048.0,gt2r
166,112,101683.783956,28.5497,2730.0,33.249523,2019-02-13 23:46:06,424883.0,gt3l
167,107,101589.364285,28.4680,2727.0,32.261948,2019-02-13 23:46:06,428672.0,gt3r
168,0,125293.549537,36.6189,3399.0,35.714657,2019-02-15 10:09:55,1578.0,gt1l
169,1,125388.182985,35.0684,3402.0,34.106010,2019-02-15 10:09:55,4933.0,gt1r
170,37,91936.424308,98.9482,2446.0,106.845700,2019-02-17 23:37:46,146167.0,gt1l
171,38,91842.736839,99.0665,2443.0,105.858690,2019-02-17 23:37:46,150060.0,gt1r
172,39,88732.707399,117.4146,2367.0,110.443970,2019-02-17 23:37:46,154002.0,gt2l
173,40,88669.535743,116.8328,2365.0,111.997260,2019-02-17 23:37:46,157951.0,gt2r
174,41,85538.574989,100.1871,2269.0,101.947860,2019-02-17 23:37:46,161878.0,gt3l
175,36,85472.883015,99.1198,2267.0,103.995186,2019-02-17 23:37:46,165795.0,gt3r
176,149,109083.826898,28.4033,2935.0,28.209282,2019-02-19 10:01:34,570844.0,gt1l
177,150,109147.050503,28.7346,2937.0,30.407562,2019-02-19 10:01:34,574757.0,gt1r
178,151,112287.449700,28.3366,3038.0,28.234665,2019-02-19 10:01:34,578724.0,gt2l
179,152,112350.591643,28.2649,3040.0,28.209850,2019-02-19 10:01:34,582688.0,gt2r
180,153,115510.522790,27.3396,3116.0,28.242275,2019-02-19 10:01:34,586660.0,gt3l
181,148,115510.522790,27.3396,3116.0,28.259218,2019-02-19 10:01:34,590577.0,gt3r
182,177,92280.614175,89.3741,2457.0,95.123740,2019-02-23 09:53:16,671951.0,gt1l
183,178,92374.767116,94.1363,2460.0,89.300255,2019-02-23 09:53:16,675849.0,gt1r
184,179,95622.548028,36.7582,2562.0,79.589990,2019-02-23 09:53:16,679719.0,gt2l
185,180,95685.309056,35.8412,2564.0,77.574570,2019-02-23 09:53:16,683577.0,gt2r
186,181,98983.567383,44.5583,2645.0,49.533512,2019-02-23 09:53:16,687443.0,gt3l
187,176,99078.008380,39.3139,2648.0,49.138790,2019-02-23 09:53:16,691352.0,gt3r

In [142]:
InterX = IntersectionsSort.values
InterX = InterX

Dist = np.diff(InterX[:,0])
Dist[Dist == 0] = float('NaN')
InterXslope = np.diff(InterX[:,3])/Dist
# i = 0
# for i in Dist():
InterXslope[np.abs(Dist) > 100] = float('NaN')
InterXslope.append(float('NaN'))
print(Dist[Dist==0])
print(InterX.shape)
print(InterXslope.shape)
print(InterXslope[0:10])

AttributeError: 'numpy.ndarray' object has no attribute 'append'