**Plotting Intersection points**

In [1]:
#IMPORT PACKAGES
import os
import glob
import pandas as pd
import csv
import numpy as np
import math
import matplotlib.pyplot as plt
import pyproj
from scipy.spatial import distance

In [2]:
ATL06filename = '~/xtrak/data_prod/ZachISatData_wSmoooth.csv'
ATM2014filename = '~/xtrak/data_prod/ATMproof_20140429_wSmooth_ac.csv'
ATM2018filename = '~/xtrak/data_prod/ATMprof_2018_slopes_wSmooth.csv'

InterX2014filename = '~/xtrak/data_prod/InterX_ATM2014_AllSmooth.csv'
InterX2018filename = '~/xtrak/data_prod/InterX_ATM2018_AllSmooth.csv'

In [38]:
ATL06data = pd.read_csv(ATL06filename,parse_dates=[4])
ATL06data.head()

,lon,lat,h,track,date,x,y,hSm,hSupSm
0,-22.520585,78.700068,579.33765,gt3r,2019-01-04 12:24:25,469494.782922,-1.134613e+06,NaN,NaN
1,-22.520755,78.700244,579.03015,gt3r,2019-01-04 12:24:25,469484.057930,-1.134597e+06,NaN,NaN
2,-22.520925,78.700420,578.78815,gt3r,2019-01-04 12:24:25,469473.331404,-1.134581e+06,NaN,NaN
3,-22.521094,78.700596,578.57214,gt3r,2019-01-04 12:24:25,469462.614457,-1.134564e+06,NaN,NaN
4,-22.521264,78.700773,578.33830,gt3r,2019-01-04 12:24:25,469451.884907,-1.134548e+06,NaN,NaN

In [3]:
ATMdata2014 = pd.read_csv(ATM2014filename)
ATMdata2018 = pd.read_csv(ATM2018filename)

InterX2014 = pd.read_csv(InterX2014filename)
InterX2018 = pd.read_csv(InterX2018filename)

In [7]:
%matplotlib widget

In [8]:
f, ax = plt.subplots()
plt.plot(ATMdata2014['PS_x']/1000,ATMdata2014['PS_y']/1000,linewidth=5.0)
plt.plot(ATMdata2018['PS_x']/1000,ATMdata2018['PS_y']/1000)
plt.plot(ATMdata2014.loc[InterX2014['idx_ATM'],'PS_x']/1000,ATMdata2014.loc[InterX2014['idx_ATM'],'PS_y']/1000,'*')
plt.plot(ATMdata2018.loc[InterX2018['idx_ATM'],'PS_x']/1000,ATMdata2018.loc[InterX2018['idx_ATM'],'PS_y']/1000,'.')

# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'],Intersections['t_ATL06'])
# ax.scatter(Intersections['dist_along']/1000,Intersections['z_ATL06'], c = Time,s=1)
# plt.plot(Intersections['dist_along']/1000,Intersections['ATM_elev'],'.')
# cb = f.colorbar()
# plt.colorbar()

FigureCanvasNbAgg()